
<app-header></app-header>

<div>
  <owl-carousel-o [options]="customOptions" >
    <ng-template carouselSlide *ngFor="let url of images">
      <img [src]="url" alt="" class="h-10rem sm:h-15rem md:h-20rem lg:h-25rem xl:h-30rem">
    </ng-template> 
  </owl-carousel-o>
</div>


<div class="flex flex-column mt-5 pt-5">
  <div class="mb-5 mx-1">
    <div class="font-bold text-xl mb-4">Torneos RTS</div>
    <owl-carousel-o [options]="customOptions2" >
      <ng-template carouselSlide *ngFor="let item of tournaments.rts" >
        <div class=" flex flex-column  mr-3 mb-1 shadow-2 border-round-xl  ">
          <div    [style]="{
            'width': '100%',
            'height': '200px',
            'background-image': 'url(' + item.img + ')',
            'background-size': 'cover',
            'background-position': 'center',
            'background-repeat': 'no-repeat'
          }" class="border-round-top-xl fish-eye"></div>
          <div class="p-2">
            <div class="font-bold">{{item.name}}</div>
          <div class="text-normal">Fecha: {{item.date}}</div>
          <div class="flex justify-content-center ">
            <p-button label="Detalle" [outlined]="true" (click)="goToDetail('rts',item.idtorneoRts)"></p-button>
          </div>
          </div>

        </div>
      </ng-template> 
    </owl-carousel-o>
  </div>
  <div class="mb-5 mx-1 ">
    <div class="font-bold text-xl mb-4">Torneos de juegos de pelea</div>
    <owl-carousel-o [options]="customOptions2" >
      <ng-template carouselSlide *ngFor="let item of tournaments.pelea" >
        <div class=" flex flex-column  mr-3 mb-1 shadow-2 border-round-xl ">
          <div    [style]="{
            'width': '100%',
            'height': '200px',
            'background-image': 'url(' + item.img + ')',
            'background-size': 'cover',
            'background-position': 'center',
            'background-repeat': 'no-repeat'
          }" class="border-round-top-xl fish-eye"></div>
          <div class="p-2">
            <div class="font-bold">{{item.name}}</div>
          <div class="text-normal">Fecha: {{item.date}}</div>
          <div class="flex justify-content-center ">
            <p-button label="Detalle" [outlined]="true" (click)="goToDetail('pelea',item.idtorneopelea)"></p-button>
          </div>
          </div>

        </div>
      </ng-template> 
    </owl-carousel-o>
  </div>

</div>

<app-footer></app-footer>

