<app-header></app-header>


<div class="flex flex-column align-items-center min-h-screen">
    <div class="mt-3 " >
        <img [src]="info.img" alt="" class="w-full">
    </div>

    <div class="flex flex-column my-3 px-2">
        <div class="flex flex-row mb-2">
            <div class="font-bold mr-4 text-xl">Name:</div>
            <div class=" text-xl">{{info.name}}</div>
        </div>

        <div class="flex flex-row mb-2">
            <div class="font-bold mr-4 text-xl">Fecha:</div>
            <div class=" text-xl">{{info.date}}</div>
        </div>
        

        <div class="flex flex-row mb-2">
            <div class="font-bold mr-4 text-xl">Ubicación:</div>
            <div class=" text-xl">{{info.ubication}}</div>
        </div>

        <div class="flex flex-column mb-2">
            <div class="font-bold mr-4 text-xl mb-2">Participantes:</div>
            <div class=" text-xl " *ngFor="let participant of participantes">-{{participant}}</div>
        </div>

        <div class="flex flex-row ">
            <p-button label="Editar" [outlined]="true" class="mr-3"></p-button>
            <p-button label="Borrar" [outlined]="true" severity="danger"></p-button>
        </div>

    </div>

</div>


<app-footer></app-footer>
